body{
    margin: 0;
}


@media screen and (max-width:375px){
    body{
        font-weight: 400;
        font-family: "Roboto",sans-serif;
        letter-spacing: -0.5px;

    }

    .Mobile{
        position: sticky;
        width: 100%;
    }

    .Desktop{
        display: none;
    }

    main{
        padding-left:20px;
    }

    main h2{
        font-size:35px;
    }

    main p{
        font-size: 18px;
    }

    main li{
        list-style-type: none;
        padding: 0;
        text-align: left;
        line-height: 25px;
    }
    
    #fon{
        display: inline;
        color: tomato;
        padding:10px;
    }


.space{
    text-indent: 35px;
}

form p {
    font-size: 12px;
    font-weight: bold;
    color:hsl(235,18%,26%) ;
}


form input{
    border: 1px solid gray;
    border-radius: 10px;
    padding:15px 70px 15px 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 15px;
    
}

form button{
    border: none;
    border-radius: 10px;
    background-color: hsl(235,18%,26%);
    padding:15px 40px 15px 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    display: block;

 }

 .ak{
    content: "";

 }



}

@media screen and (max-width:1400px) and  (min-width:367px) {
    body{
        font-weight: 400;
        font-family: "Roboto",sans-serif;
        letter-spacing: -0.5px;
        background-color: darkslategray;

    }

    .Mobile{
        display:none;
    }

    .Desktop{
        position:relative;
        width: 400px;
        display: inline;
        float:right;
        justify-content: right;

    }

    main{
        margin:50px;
        border-radius: 20px;
    }

    main h2{
        font-size: 40px;
    }

    .bre{
        content: "";
    }

    main li{
        list-style-type: none;
        line-height: 25px;
        
    }

    main li br{
        content: "";
    }
    
    #fon{
        display: inline;
        color: tomato;
        padding:10px;
    }

    ol{
        padding: 0;
    }


}

    